* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;

}
#scene {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 2.0rem;
    color: #2c3e50;
    letter-spacing: 1px;
}

#info-panel {
    display: flex;
    gap: 60px;
    font-size: 1.0rem;
    color: #34495e;
}

#left-info,
#right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

